*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --header-bg: #78A7DB;
    --button-color: ;
    --header-font-size: 21px;  
    --task-bg: #E6F5FF;
    --task-bg-hover: #CFDCE6;
    --completed-task-bg: #F49595;
    --completed-task-bg-hover: rgb(236, 105, 105);
}

/*Header */
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--header-bg);
    padding: 0rem 2.5rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;
}

.info-header{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

/* menu button */
.menu{
    background: #000;
    width: 40px;
    height: 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.menu-bar{
    width: 30px;
    background: #fff;
    height: 3px; 
} 


.todo-info{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0rem 4rem;
}

.remaining-tasks{
    font-size: var(--header-font-size);
}

#todo-title{
    font-size: 50px;
    text-transform: uppercase;
}

.completed{
    font-size: var(--header-font-size);
}

/* Add tasks section */

.add-task-section{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding-bottom: 2rem;
}

.add-task-label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--header-font-size);
}

#add-task{
    width: 75%;
    height: 45px;
    border-radius: 7px 0px 0px 7px;
    border: solid 2px black;
    padding: 0em 2rem; 
    font-size: 18px; 
}

#add-task:focus{
    outline: none; 
}

/* task and completed section */

.tasks-wrapper{
    width: 100%;
}

.card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    width: 90%;
    height: 35vh;
}

.card-title{
    font-size: 20px;
    margin-bottom: 1rem;
}

.task-card{
    margin-bottom: 1rem;
}

.tasks > .task{
    background: #E6F5FF;
}

.tasks > .task:hover{
    background: #CFDCE6;
}

.task{
    width: 100%;
    margin: 0rem 0rem; 
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-checkboxes{
    background-color: #FFF4CC;
    margin-left: 10px;
}

.task-information{
    width: 95%; 
    background: transparent;
    font-size: 18px;
    border: none;
    padding: 1rem; 
    cursor: default;
}

.task-information:focus{
    outline: none; 
}

img.edit-task{
    width: 25px;
    cursor: pointer;
    margin-right: 15px;
}

img.delete-task{
    width: 25px;
    cursor: pointer;
    margin-right: 10px; 
}

.hover{
    display: none;
}

img.delete-task:hover{
    
}


/* completed */

.completed-tasks > .task{
    background: var(--completed-task-bg);
}

.completed-tasks > .task:hover{
    background: var(--completed-task-bg-hover);
}


/* Category menu */

.side-menu{
    display:none; 
}

/*buttons*/

.btn{
    background: #EDCF98;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background: #E8BA68;
}
/* add new task btn */

.add-task-btn{
    width: max-content; 
    text-transform: uppercase;
    padding: 0.75rem; 
    margin-left: -2px;
    border: solid 2px black;
    border-left: none;
    border-radius: 0px 7px 7px 0px;
}

