@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', monospace, sans-serif;
}

:root{
    --header-bg: #78A7DB;
    --button-color: #EDCF98;
    --header-font-size: 21px;  
    --task-bg: #E6F5FF;
    --task-bg-hover: #CFDCE6;
    --completed-task-bg: #F49595;
    --completed-task-bg-hover: rgb(236, 105, 105);
}

/*Header */
header{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--header-bg);
    padding: 0rem 2.5rem;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 1rem;
}

.info-header{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

/* menu button */

#check{
    display: none; 
}

label #cancel{
    position: absolute;
    cursor: pointer;
    left: -50px;
    top: 32px;
    z-index: 111;
    font-size: 30px;
    transition: 0.5s ease-out;
}

label #menu{
    position: absolute;
    z-index: 100;
    top: 25px;
    left: 30px;
    cursor: pointer;
    font-size: 35px;
    color: black;
    
}

#check:checked ~ .side-menu {
    left: 0;
}

#check:checked ~ label #cancel {
    left: 305px;
}

#check:checked ~ label #menu {
    transition: 0.5s ease-out;
    opacity: 0%;
    transform: scale(0.5); 
}

#check:checked ~ .wrapper{
    margin-left: 350px; 
    transition: 0.5s ease-out;
}

#check:not(:checked) ~ .wrapper{
    margin-left: 0px;
    transition: 0.5s ease-out;
}

/* .menu{
    background: #000;
    width: 40px;
    height: 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.menu-bar{
    width: 30px;
    background: #fff;
    height: 3px; 
}  */


.todo-info{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0rem 4rem;
}

.remaining-tasks{
    font-size: var(--header-font-size);
}

#todo-title{
    font-size: 50px;
    text-transform: uppercase;
}

.completed{
    font-size: var(--header-font-size);
}

/* Add tasks section */

.add-task-section{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding-bottom: 2rem;
}

.add-task-label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: var(--header-font-size);
}

#add-task{
    width: 75%;
    height: 45px;
    border-radius: 7px 0px 0px 7px;
    border: solid 2px black;
    padding: 0em 1rem; 
    font-size: 18px; 
}

#add-task:focus{
    outline: none; 
}

/* task and completed section */

.tasks-wrapper{
    width: 100%;
}

.card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    width: 90%;
    height: 35vh;
}

.card-title{
    font-size: 20px;
    margin-bottom: 1rem;
}

.task-card{
    margin-bottom: 1rem;
}

.tasks{
    overflow-y: auto;
}

.tasks > .task{
    background: #E6F5FF;
}

.tasks > .task:hover{
    background: #CFDCE6;
}

.task{
    width: 100%;
    margin: 10px 0rem; 
    min-height: 35px;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
    overflow-y: hidden;
}

.task-checkboxes{
    background-color: #FFF4CC;
    margin-left: 10px;
}

.task-information{
    display: inline;
    width: 95%; 
    font-size: 18px;
    margin: 1rem 2rem; 
    cursor: default;
}

.task-information:focus{
    outline: 0.1px solid black; 
}

img.edit-task{
    width: 25px;
    cursor: pointer;
    margin-right: 15px;
}

img.delete-task{
    width: 25px;
    cursor: pointer;
    margin-right: 10px; 
}


/* completed */

.completed-tasks{
    overflow-y: auto;
}

.completed-tasks > .task{
    background: var(--completed-task-bg);
}

.completed-tasks > .task:hover{
    background: var(--completed-task-bg-hover);
}

.completed-tasks .task-information{
    text-decoration: line-through;

}

.restore-task{
    width: 25px;
    cursor: pointer;
    margin-right: 15px;
}



/* Category menu */

.side-menu{
    display:block;
    background: #80B0E8;
    position: fixed;
    left: -350px;
    width: 350px;
    z-index: 100;
    height: 100vh;
    box-shadow: 0px 100px 10px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-out;
}

.category-wrapper{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}


.category-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}



#close-category{
    margin-left: 25px;
    width: 20px;
    cursor: pointer;
}

.add-new-category{
    margin: 1rem 0.5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#add-category{
    height: 46px;
    border: solid 2px black; 
    border-right: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 7px 0px 0px 7px;
}

#add-category:focus{
    outline: none;
}

#add-category-btn{
    margin-left: -6px;
    border: solid 2px black;
    border-left: none;
    padding: 0.25rem;
    white-space: normal;
    width: 100px;
    border-radius: 0px 7px 7px 0px;
}

.category-body{
    margin-left: 1rem;
    overflow-y: auto; 
}

.category-list{
    width: 100%;
    list-style-type: none;
}

.category-item {
    padding: 1rem;
    cursor: pointer; 
    display: flex;
    flex-direction: row;
}

.category-item:hover{
    background: var(--button-color);
}

.category-item p{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    width: 75%;
}

.delete-category{
    width: 25px;
    justify-self: flex-end;
    position: relative;
    left: 50px; 
}

.category-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0rem 1rem;
}

/*buttons*/

.btn{
    background: var(--button-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover{
    background: #E8BA68;
}
/* add new task btn */

.add-task-btn{
    width: max-content; 
    text-transform: uppercase;
    padding: 0.75rem; 
    margin-left: -2px;
    border: solid 2px black;
    border-left: none;
    border-radius: 0px 7px 7px 0px;
}

/* clear all and reset button */

.cate-btn{
    background: #E2C082;
    padding: 1rem;
    margin-bottom: 10px; 
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 7px;
    border: 1px solid black;
    cursor: pointer;
}

.cate-btn:hover{
    background: #e4b159;
}

